ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00554a;
}

li {
    float: left;
    width: 25.0%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

li a:hover {
    background-color: #111;
}
#solution {
    background-color: #00695b;  
}
.home{
    height: 20px;
    width: 50px;
}
p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}
h1{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h2, h3, h4, h5, h6, h7, h8 {
    font-size; 1.75em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}
.container {
    width: 75%;
    height: auto;
    border: 1px solid blue;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #000000;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}
div:not(name="container") {
   background-color: #b3b3b3;
}
.shrink img{
    width: 70%;
    height: auto;
}
body {
    background-color: #f2eeeb;
}
